@media(min-width:361px) and (max-width:375px){
    .banner{
        padding: 7em 2em;
        .content{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h2{
                font-size: 1.2em;
                letter-spacing: 0.2em;
            }
            p{
                font-size: 1em;
            }
            .play{
                font-size: 0.8em;
                img{
                    max-width: 30px;
                }
            }
            .sm-icons{
                position: inherit;
                flex-direction: row;
                position: inherit;
                transform: inherit;
            }
        }
    }
}