* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 100px;
  z-index: 1000;
}

header .logo {
  max-width: 120px;
}

header .logo img {
  max-width: 100%;
}

header .toggle {
  max-width: 60px;
  cursor: pointer;
}

header .toggle img {
  max-width: 100%;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0px 100px;
  background: url(../images/bg.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .content {
  max-width: 550px;
}

.banner .content h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2em;
  letter-spacing: 0.1em;
  color: #fff;
}

.banner .content h2 span {
  font-weight: 800;
}

.banner .content p {
  font-size: 1.2em;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 1.5em;
  margin: 15px 0px 35px;
}

.banner .content .play {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1.2em;
}

.banner .content .play img {
  max-width: 50px;
  margin-right: 10px;
}

.banner .content .sm-icons {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner .content .sm-icons li {
  list-style-type: none;
}

.banner .content .sm-icons li a {
  text-decoration: none;
}

.banner .content .sm-icons li a img {
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.banner .content .slide {
  position: absolute;
  bottom: 50px;
  left: calc(50% - 250px / 2);
  width: 250px;
  height: 150px;
  background: url(../images/joker.png);
  background-size: cover;
  cursor: pointer;
  -webkit-animation: animate 25s linear infinite;
          animation: animate 25s linear infinite;
}

.trailer {
  position: fixed;
  top: 00%;
  left: 00%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  opacity: 0;
}

.trailer video {
  max-width: 900px;
  outline: none;
}

.trailer .close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  -webkit-filter: invert(1);
          filter: invert(1);
  max-width: 32px;
}

@-webkit-keyframes animate {
  0% {
    background-position: top;
  }
  50% {
    background-position: bottom;
  }
  100% {
    background-position: top;
  }
}

@keyframes animate {
  0% {
    background-position: top;
  }
  50% {
    background-position: bottom;
  }
  100% {
    background-position: top;
  }
}

.active {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 991px) {
  header {
    padding: 20px 50px;
  }
  header .logo {
    max-width: 80px;
  }
  header .toggle {
    max-width: 40px;
  }
  .banner {
    padding: 100px 50px;
  }
  .banner h2 {
    font-size: 2em;
    letter-spacing: 0.05em;
  }
  .banner .slide {
    position: relative !important;
    bottom: initial !important;
    left: 0 !important;
    margin: 20px 0px;
  }
  .banner .sm-icons {
    left: initial !important;
    right: initial !important;
    top: initial !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    margin-top: 50px;
  }
  video {
    max-width: 90% !important;
  }
}
/*# sourceMappingURL=style.css.map */